<h3>Log</h3>
<div class="pure-g">
{{#each logItems}}
    <div class="pure-u-1-5"><p>{{this.timeStamp}}</p></div>
    <div class="pure-u-1-5"><p>{{this.logLevel}}</p></div>
    <div class="pure-u-3-5"><p>{{this.message}}</p></div>
{{/each}}
</div>
