<!-- layout.hbs: -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="Blinken LED Web Control System">
    <title>Blinken Led Web Control System</title>
    <link rel="stylesheet" href="/css/pure-min.css">
    <link rel="stylesheet" href="/css/grids-responsive-min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="header">
        <div class="home-menu pure-menu pure-menu-horizontal">
            <a class="pure-menu-heading" href="">Blinken Led Web Control System</a>
        </div>
    </div>
    <div class="content pure-g">
        {{{ body }}}
    </div>
</body>

</html>